<nav *ngIf="currentUser" class="navbar navbar-expand">
  <a class="navbar-brand" [routerLink]="['/home']">Home <fa-icon [icon]="['fas', 'home']" size="sm"></fa-icon></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/allcars']" routerLink="active">All Cars <fa-icon [icon]="['fas', 'car-side']" size="sm"></fa-icon></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/importcar']" routerLink="active">Import a New Car <fa-icon [icon]="['fas', 'plus']" size="sm"></fa-icon> </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="logoutUser()">
          Sign Out <fa-icon [icon]="['fas', 'sign-out-alt']" size="sm"></fa-icon>
        </a>
      </li>
    </ul>

    <div class="welcome ml-auto">Hi, {{currentUser.nickname}}!</div>

    <form class="form-inline my-2 ml-auto my-lg-0">
      <input class="form-control ml-auto search-field" type="search" placeholder="Search all Vehicles">
      <button class="btn" type="submit">Search</button>
    </form>
  </div>
</nav>



<nav *ngIf="!currentUser" class="navbar navbar-expand">
  <a class="navbar-brand" [routerLink]="['/home']">Home<fa-icon [icon]="['fas', 'home']" size="sm"></fa-icon></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/allcars']" routerLink="active">All Cars <fa-icon [icon]="['fas', 'car-side']"></fa-icon></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/signup']" routerLink="active">Sign-Up <fa-icon [icon]="['fas','user-plus']"></fa-icon><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/login']" routerLink="active">Sign-In<fa-icon [icon]="['fas','sign-in-alt']"></fa-icon></a>
      </li>

    </ul>
    <form class="form-inline my-2 ml-auto my-lg-0">
      <input class="form-control ml-auto search-field" type="search" placeholder="Search all Vehicles">
      <button class="btn" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
