<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" [routerLink]="['/home']">Home<i class="fas fa-home"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/signup']" routerLink="active">Sign-Up<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/login']" routerLink="active">Sign-In</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']" routerLink="active">All Cars</a>
      </li>

    </ul>
    <form class="form-inline my-2 ml-auto my-lg-0">
      <input class="form-control ml-auto search-field" type="search" placeholder="Search all Vehicles">
      <button class="btn" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
