<head></head>

<body>
  <app-navbar></app-navbar>
  <app-header></app-header>

  <div class="text">
    <h1 class="header">About Us</h1>
    <div class="about">
      <p class="indent">
        Shopping for your next vehicle shouldn't be a hassle.<br>
      </p>
      <p class="intent">
        You don't need to drive for hours or make deals over the phone to get a good deal on a great used vehicle.
        Located
        right here in Jackson, MO, <b>WHEELY GOOD CARS</b> is dedicated to bringing our community a great selection of
        high-quality, well-maintained, like-new vehicles. We invite you to stop by and look over our inventory of cars,
        pickups, vans, and SUVs.<br>
      </p>
      <p class="indent">
        At <b>WHEELY GOOD CARS</b>, we are proud to offer a relaxed shopping experience with a friendly sales team and
        we'll
        never try to pressure you into a vehicle or auto loan that you're not sure about. We're happy to answer your
        questions. From features, options, and warranties, to pricing, costs, and financing, our knowledgeable sales
        staff
        has the answers, or will find the answer for you.<br>
      </p>
      <p class="indent">
        Stop by <b>WHEELY GOOD CARS</b> in Jackson, MO today and let us show you the local difference in the car
        shopping
        experience.<br>
      </p><br>
      <a class="contact" routerLink="/contact"><b>Contact Us</b></a>
    </div>
  </div>

</body>


<router-outlet></router-outlet>
