<app-navbar></app-navbar>

<body>
  <div class="form-container">
    <div class="row">
      <div class="col-md left-table">
        <h1>Welcome Back!</h1>
        <h2>Log-In</h2>
        <form [formGroup]="loginForm">
          <div class="form-group row">
            <div class="col">
              <input [ngClass]="{'is-invalid': hasError && loginForm.get('email').errors}" class="form-control"
                type="text" formControlName="email" placeholder="Email">
              <label class="form-error" *ngIf="hasError && loginForm.get('email').errors">
                <span class="text-danger" *ngIf="loginForm.get('email').errors['required']">
                  Email is required!
                </span>
              </label>
            </div>
          </div>

          <div class="form-group row">
            <div class="col">
              <input [ngClass]="{'is-invalid': hasError && loginForm.get('password').errors}" class="form-control"
                type="text" formControlName="password" placeholder="Password">
              <label class="form-error" *ngIf="hasError && loginForm.get('password').errors">
                <span class="text-danger" *ngIf="loginForm.get('password').errors['required']">
                  Password is required!
                </span>
              </label>
            </div>
          </div>
          <button type="submit" class="btn" (click)="submitLoginForm()">Log-In!</button>
        </form>
      </div>
    </div>
  </div>



  <router-outlet></router-outlet>
