<div *ngIf="car" class="card w-100">
  <div class="card">
    <img [src]="carImg" class="card-img-top" alt="image of car" (error)="setDefautlPic()">
    <div class="card-body">
      <h3 class="card-title">{{car.make}} {{car.model}} <span class="ml-3 card-year">{{car.price |currency}}</span> </h3>
      <div class="car-info w-100 d-inline-flex">
        <div class="flex">
          <h5>Year: {{car.year}}</h5>
          <h5>Color: {{car.color}}</h5>
          <h5>Bodystyle: {{car.bodystyle}}</h5>
          <h5>Mileage: {{car.mileage}} miles</h5>
          <h5>Condition: {{car.condition}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
