.row {
  display: flex;
  flex-wrap: wrap;
}

body {
background-color:whitesmoke;
height: 100%;
width: 100%;
text-align: center;
}

.form-container {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 3%;
  background-color: #369fd9;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.form-row {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 10%;
  padding-right: 10%;
}

.btn {
  margin-top: 3%;
  background-color: whitesmoke;
  border-style: solid;
  border-color: black;
}

.btn:hover {
  border-color: black;
  background-color: white;
  border-width: 2px;
}

.btn:active {
  background-color: #E59E46;
}


// .form-group {
//   padding-top: 5%;
//   padding-bottom: 5%;
//   padding-right: 5%;
//   padding-right: 5%;
// }

// .col {
//   padding-right: 1%;
//   padding-left: 1%;
// }

// .btn {
//   margin-top: 3%;
//   background-color: whitesmoke;
//   border-style: solid;
//   border-color: black;
// }

// .btn:hover {
//   border-color: black;
//   background-color: white;
//   border-width: 2px;
// }

// .btn:active {
//   background-color: #E59E46;
// }

